.header {
  width: 100%;
  height: 11%;
  background-color: rgb(247, 247, 247);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.pickbazarlogo {
  height: 100%;
  width: 10.8%;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 26px;
  justify-content: flex-end;
  align-items: center;
}

.pickbazarlogo img {
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.header-left-menu-choice-placeholder-position {
  width: 25.4%;
  height: 100%;
  display: flex;
  padding: 0;
  margin-left: 43px;
  align-items: center;
  justify-content: flex-start;
}

.header-left-menu-choice-placeholder {
  width: 148px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(241, 241, 241);
  border-image: initial;
  border-radius: 6px;
  outline: 0px;
}

.header-left-menu-choice-placeholder-book-icon {
  width: 20%;
  height: 41%;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  display: flex;
}

.header-left-menu-choice-placeholder-book-button {
  width: 36%;
  height: 45%;
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 158, 127);
  display: flex;
}

.header-left-menu-choice-placeholder-angle-down {
  width: 33%;
  height: 45%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

.header-right-menu-side {
  height: 100%;
  width: 64%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.header-right-menu-side-offer {
  height: 100%;
  width: 13.5%;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right-menu-side-need-help {
  height: 100%;
  width: 9.7%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
}

.header-right-menu-side-need-help-question-mark {
  padding: 0px;
  margin-right: 5px;
}

.header-right-menu-side-language-choice-placeholder-position {
  height: 100%;
  width: 16.5%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-right-menu-side-language-choice-placeholder-position-flag {
  display: flex;
  position: relative;
  right: 79px;
}

.button-language {
  width: 59%;
  height: 40px;
  display: flex;
  padding-right: 10px;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(241, 241, 241);
  border-image: initial;
  border-radius: 6px;
  outline: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 158, 127);
  text-decoration: none;
}

.header-right-menu-side-join-button {
  height: 100%;
  width: 11.5%;
  margin-left: 5px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-join {
  font-size: 15px;
  width: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  height: 38px;
  font-family: inherit;
  font-weight: 700;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 158, 127);
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 6px;
  transition: all 0.35s ease 0s;
}
