.book-navbar {
  height: auto;
  width: 23%;
  padding-top: 35px;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .book-navbar {
    width: 30%;
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .book-navbar {
    width: 100%;
  }
}
