html, body {
  min-height: 100vh;
  min-width: 100vw;
}

.checkout {
  height: auto;
  width: 100%;
  padding-top: 80px;
  background-color: white;
  display: flex;
  overflow-y: scroll;
}

.checkout-positioning {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 247, 247);
}

.checkout__details {
  height: auto;
  width: 62%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
}

.checkout__delivery-address {
  height: auto;
  width: 62%;
  padding: 30px 30px 20px;
  margin: 73px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 16px 0px;
  background-color: white;
}

.checkout__delivery-top {
  height: 35px;
  width: 100%;
  padding: 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
}

.checkout__delivery-circle {
  height: 35px;
  width: 35px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  background-color: rgb(0, 158, 127);
  color: white;
  border-radius: 50%;
}

.checkout__delivery-top-name {
  height: 35px;
  width: 76%;
  font-family: Lato, sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: rgb(13, 17, 54);
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.add-address {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: transparent;
  justify-content: end;
  border: 0px;
  outline: 0px;
  border-radius: 0px;
  padding: 0px;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(0, 158, 127);
}

.checkout__delivery-adress-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.checkout__delivery-home-address {
  padding: 15px;
  margin-right: 15px;
  flex: 1 1 calc(33.3333% - 10px);
  max-width: calc(33.3333% - 10px);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 158, 127);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}

.checkout__delivery-home-details-typing {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.checkout__delivery-typing {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  line-height: 1.2;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-align: start;
}

.checkout__delivery-office-address {
  padding: 15px;
  margin-top: 0px;
  flex: 1 1 calc(33.3333% - 10px);
  max-width: calc(33.3333% - 10px);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid rgb(0, 158, 127);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}

.checkout__delivery-schedule {
  height: auto;
  width: 62%;
  padding: 30px 30px 20px;
  margin: 0px 0px 20px 0px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 16px 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.checkout__delivery-schedule-time {
  width: 25%;
  padding: 11px 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 158, 127);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}

.checkout__delivery-contact-number {
  height: auto;
  width: 62%;
  padding: 30px 30px 20px;
  margin-bottom: 20px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 16px 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.checkout__delivery-contact-number-primary {
  padding: 15px;
  margin-right: 15px;
  flex: 1 1 calc(33.3333% - 10px);
  max-width: calc(33.3333% - 10px);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 158, 127);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}

.checkout__delivery-contact-number-secondary {
  padding: 15px;
  margin-right: 15px;
  flex: 1 1 calc(33.3333% - 10px);
  max-width: calc(33.3333% - 10px);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 158, 127);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
}

.checkout__delivery-payment-option {
  height: auto;
  width: 62%;
  padding: 30px 30px 20px;
  margin-bottom: 100px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.checkout__delivery-saved-cards-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout__delivery-saved-cards {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(0, 158, 127);
  display: block;
}

.checkout__delivery-payments-lineup {
  display: flex;
  flex-direction: row;
}

.checkout__delivery-card {
  padding: 15px;
  margin-right: 15px;
  flex: 1 1 calc(33.3333% - 10px);
  max-width: calc(33.3333% - 10px);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 158, 127);
  border-radius: 6px;
  background-color: rgb(228, 244, 252);  
}

.checkout__delivery-card-number-passage {
  font-family: Lato, sans-serif;
  font-size: calc(10px);
  font-weight: 400;
  color: rgb(119, 121, 140);
  display: block;
  margin-bottom: 11px;
}

.checkout__delivery-number-passage {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 9px;
}

span {
  font-size: calc(14px);
  font-weight: 700;
  color: rgb(13, 17, 54);
  line-height: 1.25;
}

.checkout__delivery-name-passage {
  font-size: 12px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  display: block;
}

.checkout__delivery-payment-voucher {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  font-family: Lato, sans-serif;
  font-weight: 0;
  font-size: 15px;
  line-height: 1.5;
}

.voucher {
  padding: 0;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 158, 127);
  font-weight: normal;
}

.checkout__delivery-payment-terms-and-conditions {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  line-height: 1.5;
  margin-top: 30px;
  display: flex;
}

.terms-and-conditions {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(255, 91, 96);
  margin-left: 5px;
  cursor: pointer;
  line-height: 1.5;
}

.checkout__delivery-payment-proceed-to-checkout{
  padding-bottom: 30px;
}

.checkout-button {
  height: 48px;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 158, 127);
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  appearance: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  border: 0px;
  cursor: pointer;
}

.checkout__basket-positioning {
  height: 100%;
  width: 38%;
  display: flex;
  background-color: rgb(247, 247, 247);
}

.checkout__basket {
  height: 70%;
  width: 17%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgb(247, 247, 247);
}

.checkout__basket-your-order {
  height: 18%;
  width: 97%;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
}

.checkout__basket-products {

}

.checkout__basket-price {
  height: 50%;
  width: 100%;
  padding: 20px 15px 0px;
  border-top: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checkout__basket-price-sub-total {
  height: 13%;
  width: 100%;
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 400;
  color: rgb(119, 121, 140);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout__basket-price-delivery-fee {
  height: 13%;
  width: 100%;
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 400;
  color: rgb(119, 121, 140);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout__basket-price-discount {
  height: 13%;
  width: 100%;
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 400;
  color: rgb(119, 121, 140);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout__basket-price-total {
  height: 13%;
  width: 100%;
  margin: 20px 0px 10px 0px;
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 700;
  color: rgb(13, 17, 54);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}