html, body {
  min-height: 100vh;
  min-width: 100vw;
}

.checkout {
  /* height: 200vh; */
  height: calc(100vh - 80px);
  width: 100%;
  padding-top: 80px;
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  overflow-y: scroll;
}

.checkout-positioning {
  height: 2000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(247, 247, 247); */
  background-color: red;
}

.check {
  height: 200%;
}

.checkout-details {
  height: 100%;
  width: 62%;
  display: flex;
  flex-direction: column;
}

.checkout-delivery-address-positioning {
  height: 100%;
  width: 98%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: blue;
}

.checkout-delivery-address {
  height: 73%;
  width: 68%;
  margin-bottom: 20px;
  display: flex;
  background-color: white;
}

.checkout-basket-positioning {
  height: 100%;
  width: 38%;
  display: flex;
  background-color: rgb(247, 247, 247);
}

.checkout-basket {
  height: 100%;
  width: 56%;
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
}

.checkout-basket-your-order {
  height: 30%;
  width: 97%;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
}

.checkout-basket-products {

}

.checkout-basket-price {
  height: 50%;
  width: 100%;
  border-top: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checkout-basket-price-sub-total {
  height: 15%;
  width: 87%;
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 400;
  color: rgb(119, 121, 140);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout-basket-price-delivery-fee {
  height: 15%;
  width: 87%;
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 400;
  color: rgb(119, 121, 140);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout-basket-price-discount {
  height: 15%;
  width: 87%;
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 400;
  color: rgb(119, 121, 140);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout-basket-price-total {
  height: 15%;
  width: 87%;
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 700;
  color: rgb(13, 17, 54);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}