.navigation-bar {
  width: 100%;
  height: 89%;
  background-image: url("https://shop.redq.now.sh/_next/static/images/books-f5200ba7535257ce70a563fc9ff56f35.png");
  background-position: center;
  background-size: cover;
}
