.faq__background {
	height: calc(100vh - 80px);
	width: 100vw;
	margin: 0;
	padding-top: 80px;
	display: flex;
	background-color: blue;
}

.faq {
	height: 100%;
	width: 100%;
	margin: 0%;
	padding: 0%;
	background-color: rgb(247, 247, 247);
	display: flex;
	flex-direction: column;
}

.faq__headline {
	height: 12%;
	width: 100%;
  margin-bottom: 25px;
	display: flex;
	align-items: flex-end;
}

.faq__headline-placement {
	width: 100%;
	font-size: 22px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  line-height: 1.2;
}

.faq__questions {
	height: calc(88% - 20px);
	width: 100%;
	margin: 0%;
	padding: 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq__customer-question-template {
	height: auto;
	max-height: 100%;
	width: 53%;
	margin-bottom: 5px;
	padding: 23px 25px 23px 30px;
	display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
	background-color: white;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
	overflow: visible;
	display: flex;
	flex-direction: column;
}

.customer-contact-open {
	height: 100%;
	width: 100%;
	margin: 0%;
	padding: 0%;
	display: flex;
	align-items: center;
}

.customer-contact-closed {
	height: auto;
	width: 100%;
	margin: 0%;
	padding: 0%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.faq__question-and-icon-positioning {
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
}

.faq__customer-question-text-styling {
	width: auto;
	margin: 0;
	margin: 0px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  line-height: 1.5;
	display: flex;
	justify-content: flex-start;
}

.faq__customer-contact-icon {
	width: auto;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.text-positioning {
	margin: 0%;
	padding-top: 16px;
	overflow: hidden;
	color: #666;
	background-color: #fff;
}

.text {
	font-family: inherit;
	font-size: 15px;
	font-weight: 400;
	color: rgb(119, 121, 140);
	line-height: 1.75;
	text-align: left;
}

.faq__system-information-update {
	height: 13%;
	width: 53%;
	margin-bottom: 5px;
	padding: 0px 25px 0px 30px;
	display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
	background-color: white;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.faq__website-response-time {
	height: 13%;
	width: 53%;
	margin-bottom: 5px;
	padding: 0px 25px 0px 30px;
	display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
	background-color: white;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.faq__account-creation {
	height: 13%;
	width: 53%;
	margin-bottom: 5px;
	padding: 0px 25px 0px 30px;
	display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
	background-color: white;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}