.book-genre {
  height: 60px;
  width: calc(100% - 50px);
  padding-left: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
