.article {
  height: 30%;
  min-height: 325px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(241, 241, 241);
}

.article__button-container-left {
  height: 40px;
  width: 50px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  position: relative;
  top: 0%;
  left: 40px;
  z-index: 99;
}

.article__button-content {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 158, 127);
  text-decoration: none;
  outline: none;
}

.article__button-container-right {
  height: 40px;
  width: 50px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 158, 127);
  padding: 0px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  position: relative;
  top: 0%;
  right: 40px;
  z-index: 99;
}

.article__coupon {
  display: flex;
  justify-content: center;
}

.article__coupon-content {
  height: 205px;
  width: 94%;
}

.article__coupon-content img {
  height: 100%;
  width: 100%;
}

.article__coupons {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .article {
    min-height: 200px;
    height: 80%;
    padding: 20px 0px;
    border: none;
  }

  .article__coupon {
    margin-top: 10px;
  }

  .article__coupon-content {
    height: 180px;
    width: 94%;
  }
}

@media screen and (max-width: 768px) {
  .article__coupon-content {
    height: 150px;
  }
}

@media screen and (max-width: 576px) {
  .article {
    height: 100%;
    padding: 20px 0px;
  }

  .article__button-container-left {
    display: none;
  }

  .article__button-container-right {
    display: none;
  }

  .article__coupons {
    flex-direction: column;
  }

  .article__coupon {
    margin-top: 10px;
  }

  .article__coupon-content img {
    height: 92%;
    width: 100%;
  }
}
