.book-list-parent {
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  background-color: rgb(250, 250, 250);
  display: flex;
  border-radius: 6px 0px 0px 6px;
}

.book-list {
  height: 100%;
  width: 100%;
  min-height: 540px;
  max-height: 100vh;
  background-color: rgb(250, 250, 250);
  display: flex;;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 6px 0px 0px 6px;
  overflow-y: scroll;
}

.button-load-more {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-load-more button {
  font-size: 14px;
  padding: 0px 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  appearance: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  height: 38px;
  text-decoration: none;
  font-family: inherit;
  color: rgb(0, 158, 127);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(241, 241, 241)
}