.app {
  height: 100%;
  width: 100%;
  text-align: center;
}

.app__body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app__book-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 576px) {
  .app__body {
    height: fit-content;
  }

  .app__book-list {
    flex-direction: column;
  }
}
